%footer
	.container
		.row
			.col-md-12.credit
				%p
					Powered by
				%p
					%a{:href => "http://www.ongair.im"}
						%img{:alt => "", :src => "http://sasagichuki.github.io/yowsup/img/ongair_logo_small.png"}/