%header#home
	%nav.naver.animated.pull
		.logo-pad.animated
			%a{:href => "index.html#hero"}
				= image_tag "spin_logo.png"
				/ %img{:alt => "", :src => "http://sasagichuki.github.io/yowsup/img/spin_logo.png"}/
		/ %ul.top-nav{:role => "navigation"}
		/ 	%li
		/ 		%a{:href => "index.html#howto"}
		/ 			How to do this
		/ 			%span.indicator
		/ 				%i.fa.fa-angle-right
		/ 	%li
		/ 		%a{:href => "index.html#built"}
		/ 			Built by who
		/ 			%span.indicator
		/ 				%i.fa.fa-angle-right
		/ 	%li
		/ 		%a{:href => "index.html#signuptoday"}
		/ 			Sign up for Ongair
					%span.indicator
						%i.fa.fa-angle-right
		.menu-open