.container	
	.row
		.col-md-8
			.jumbotron
				%h1 Hello and Welcome to Spin
				%p Spin is an app that aims to unite the different modes of communication in existence today
				%ul
					%li
						Chat with anyone on IM, annonymously
					%li
						Find content like news, jokes, quotes and more on WhatsApp, WeChat and SMS for free
					%li
						Share web content through IM platforms with our handy Chrome extension
					%li
						Platform independent. Chat with anyone across the different messaging platforms
					%li
						Build on top of Spin to offer your own services and content accross IM platforms
					%br
					%a.btn.btn-primary.btn-lg{"data-original-title" => "", :role => "button", :title => ""} Learn more
		.col-md-4
			%section.panel
				= render 'home/signup'

= render 'home/footer' 