!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
		%meta{:content => "IE=9", "http-equiv" => "X-UA-Compatible"}/
		%meta{:content => "Chat with random people on Whatsapp", :name => "description"}
		%title What's up - Spin
		%meta{:content => "#b91d47", :name => "msapplication-TileColor"}
		%meta{:content => "favicons/mstile-144x144.png", :name => "msapplication-TileImage"}
		%meta{:content => "#ffffff", :name => "theme-color"}
		%link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
		/ HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		/ WARNING: Respond.js doesn't work if you view the page via file://
		/[if lt IE 9]
		%script{ src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
		%script{ src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" }
		= stylesheet_link_tag "application", :media => "all"
		
	%body#top
		= render 'home/header'
		= yield
= javascript_include_tag "application"